* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

:root {
  --light-grey: #757575;
  --light-grey-2: rgb(240, 240, 240);
  --light-green: rgb(0, 188, 135);
  --text-color-grey: rgb(177, 177, 177);
  --svg-grey: #bbc2dc;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

.button {
  button {
    background: none;
    background: var(--light-green);
    border: none;
    height: 100%;
    color: white;
    padding: 1.5rem;
    border-radius: 5px;
    cursor: pointer;
  }
}

a,
a:link,
a:visited,
a:active {
  text-decoration: none;
}
