.book {
  display: grid;
  grid-template-columns:
    [full-start] minmax(2rem, 1fr) [center-start] repeat(
      8,
      [col-start] minmax(min-content, 14rem) [col-end]
    )
    [center-end] minmax(2rem, 1fr) [full-end];
  grid-template-rows: min-content min-content minmax(max-content, 1fr);
  background: var(--background-grey);
  height: 100%;
  justify-content: center;

  &__head {
    grid-column: full-start / full-end;
    background: white;
    display: flex;
    justify-content: center;
    padding: 1.5rem 0;
    border: 1px solid var(--light-grey-2);
  }
  &__logo {
    transform: translateY(-1rem);
  }
  &__nav {
    grid-column: full-start / full-end;
    background: white;
    padding: 1.5rem 0;
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    text-transform: capitalize;
    a {
      color: var(--light-grey);
    }
    ul {
      display: grid;
      grid-template-columns: minmax(3rem, 1fr) repeat(3, 1fr) minmax(3rem, 1fr);
      justify-items: center;
      align-items: center;
      list-style: none;
      padding: 0;
      .fill {
        grid-column: 2 / 3;
      }
    }
  }
  &__wrapper {
    grid-column: center-start / center-end;
    padding: 20rem 0;
    padding-top: 5rem;

    &--container {
      display: grid;
      grid-row-gap: 0.5rem;
      h1,
      p {
        justify-self: center;
        font-family: "Lato", sans-serif;
      }
      p {
        margin-bottom: 2rem;
        font-size: 2rem;
        font-weight: 300;
        color: var(--light-grey);
      }
      h1 {
        font-size: 3rem;
        font-weight: 300;
      }
    }
  }
}
