.dashboard {
  display: grid;
  grid-template-rows: 6rem repeat(2, max-content);
  grid-template-columns:
    [full-start] minmax(2rem, 1fr) [center-start] repeat(
      8,
      [col-start] minmax(min-content, 14rem) [col-end]
    )
    [center-end] minmax(2rem, 1fr) [full-end];

  font-family: "Oxygen", sans-serif;
  &__container {
    grid-column: full-start / full-end;
    grid-row: 2 / 3;
    padding: 5rem 0;

    display: grid;
    grid-template-columns:
      minmax(2rem, 1fr) [center-start] repeat(6, minmax(min-content, 14rem))
      [center-end] minmax(2rem, 1fr);
    grid-template-rows: min-content;
    grid-auto-rows: 1fr;
    grid-row-gap: 3rem;
    background: var(--background-grey);
    h1 {
      grid-column: center-start / center-end;
      grid-row: 1 / 2;
      font-size: 2.5rem;
      font-family: "Lato", sans-serif;
    }

    // DETAILS

    &--details {
      grid-column: center-start / center-end;
      grid-row: 2 / -1;
      background: white;

      display: flex;
      flex-direction: column;
      padding: 3rem;
      & > * {
        margin-bottom: 3rem;
      }
      &__upload {
        display: grid;
        grid-template-columns: min-content 1fr minmax(2rem, 0.5fr);
        align-items: center;
        justify-items: center;
        grid-row-gap: 1.5rem;
        grid-column-gap: 3rem;
        img {
          height: 13.5rem;
          width: 13.5rem;
          background: var(--light-grey-2);
          border-radius: 100%;
          grid-column: 1 / 2;
          grid-row: 1 / 2;
        }
        p {
          &:first-of-type {
            grid-column: 1 / 2;
            grid-row: 2 / 3;
            color: var(--light-green);
            font-size: 1.5rem;
          }
          &:last-of-type {
            color: var(--light-grey);
            font-size: 1.9rem;
          }
        }
      }
      &__inputs {
        display: grid;
        grid-template-columns: repeat(2, max-content);
        grid-template-rows: repeat(3, min-content);
        grid-row-gap: 2rem;
        h3 {
          grid-row: 1 / 2;
          grid-column: 1 / -1;
          font-weight: 200;
          font-size: 2rem;
        }
        p {
          grid-row: 2 / 3;
          grid-column: 1 / -1;
          font-size: 1.5rem;
        }
        form {
          grid-row: 3 / -1;
          grid-column: 1 / -1;

          display: flex;
          flex-direction: column;
          & > *:not(:last-child) {
            margin-bottom: 1.5rem;
          }

          label {
            display: grid;
            grid-template-columns: minmax(max-content, 15rem) minmax(
                max-content,
                25rem
              );
            font-size: 1.5rem;
            input {
              padding: 0.5rem;
              border: 1px solid var(--light-grey);
              border-radius: 5px;
              &:focus {
                border: 1px solid var(--light-green);
              }
            }
          }
        }
      }
      &__birthdate {
        display: grid;
        grid-template-columns: repeat(3, max-content);
        grid-template-rows: repeat(2, min-content);
        grid-row-gap: 1.5rem;
        grid-column-gap: 1.5rem;
        h3 {
          grid-column: 1 / -1;
          font-weight: 200;
          font-size: 2rem;
        }
        select,
        input {
          padding: 0.5rem;
          &:focus {
            border: 1px solid var(--light-green);
          }
        }
      }
      &__vehicle {
        display: grid;
        grid-template-columns: repeat(2, minmax(max-content, 10rem));
        grid-column-gap: 5rem;
        grid-row-gap: 2rem;
        h3 {
          grid-column: 1 / -1;
          font-weight: 200;
          font-size: 2rem;
        }
        label {
          display: grid;
          grid-template-columns: min-content minmax(min-content, 30rem);
          grid-template-rows: min-content;
          grid-column-gap: 1.5rem;
          grid-row-gap: 1rem;
          align-items: start;
          h4 {
            font-size: 1.5rem;
          }
          p {
            grid-column: 2 / 3;
            line-height: 2rem;
            font-size: 1.5rem;
            b {
              color: var(--light-green);
            }
          }
        }
      }
      &__promotion {
        display: flex;
        flex-direction: column;
        & > *:not(:last-child) {
          margin-bottom: 1.5rem;
        }
        h3 {
          font-weight: 200;
          font-size: 2rem;
        }
        form {
          display: flex;
          flex-direction: column;
          & > *:not(:last-child) {
            margin-bottom: 1rem;
          }
          label {
            display: grid;
            grid-template-columns: repeat(2, minmax(max-content, 3rem));
            justify-items: start;
            font-size: 1.5rem;
          }
        }
      }
      .button {
        align-self: flex-end;
        button {
          font-size: 1.5rem;
        }
      }
    }
    // CATEGORIES
    &--categories {
      grid-column: center-start / center-end;
      grid-row: 2 / -1;
      background: white;
      display: flex;
      flex-direction: column;
      padding: 2rem;
      & > * {
        margin-bottom: 3rem;
      }
      p {
        font-size: 1.5rem;
      }
      .button {
        align-self: flex-end;
      }
      .tasks {
        display: flex;
        flex-direction: column;
        font-family: "Oxygen", sans-serif;
        & > *:not(:last-child) {
          margin-bottom: 2rem;
        }
        &__trigger {
          display: flex;
          align-items: center;
          cursor: pointer;
          padding: 1.5rem 0;
          & > *:not(:first-child) {
            margin-right: 2rem;
          }
          h1 {
            font-size: 2rem;
            margin-right: auto;
          }
          span {
            font-size: 2rem;
            color: var(--light-green);
          }
          .icon {
            font-size: 2.5rem;
            color: var(--light-green);
          }
        }
        &__accordion {
          display: flex;
          flex-direction: column;
          & > *:not(:last-child) {
            margin-bottom: 2.5rem;
          }
          &--scope {
            display: flex;
            flex-direction: column;
            h2 {
              font-size: 1.7rem;
              font-family: "Ubuntu", sans-serif;
            }
            & > * {
              margin-bottom: 1.5rem;
            }
            background: var(--light-grey-2);
            padding: 2.5rem;
            label {
              display: flex;
              align-items: center;
              font-weight: 700;
              font-size: 1.5rem;
              input {
                margin-right: 0.5rem;
              }
            }
            ul {
              padding: 0;
              list-style: none;
              li {
                font-size: 1.6rem;
                color: var(--light-grey);
                &:not(:last-of-type) {
                  margin-bottom: 0.5rem;
                }
              }
            }
          }
          &--rate {
            background: var(--light-grey-2);
            padding: 2.5rem;
            display: flex;
            justify-content: space-between;
            h2 {
              font-size: 1.7rem;
              font-family: "Ubuntu", sans-serif;
            }
            label {
              display: flex;
              align-items: center;
              font-size: 2rem;
              input {
                margin-left: 0.5rem;
                width: 6rem;
                height: 3rem;
              }
            }
          }
          &--pitch {
            background: var(--light-grey-2);
            padding: 2.5rem;
            display: flex;
            flex-direction: column;
            & > *:not(:last-child) {
              margin-bottom: 1.5rem;
            }
            textarea {
              max-width: 100%;
            }
          }
          &--progression {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .cancel {
              margin-left: 1.5rem;
              margin-right: auto;
              button {
                background: white;
                border: 1px solid var(--light-grey);
                height: 100%;
                color: black;
                padding: 1.5rem;
                border-radius: 5px;
                cursor: pointer;
              }
            }
            .remove {
              button {
                background: white;
                border: 1px solid var(--light-grey);
                height: 100%;
                color: black;
                padding: 1.5rem;
                border-radius: 5px;
                cursor: pointer;
                .icon {
                  font-size: 1.5rem;
                  color: var(--light-green);
                  margin-right: 1rem;
                }
              }
            }
          }
        }
      }
    }
  }
}
