.footer {
  background-image: url("/images/shape.jpg");
  background-size: cover;
  background-position: center;
  grid-column: full-start / full-end;
  color: white;
  padding: 10rem 5rem;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  justify-items: start;
  align-items: start;
  grid-row-gap: 13rem;

  @media only screen and (max-width: 37.5em) {
    grid-template-columns: 2rem repeat(2, minmax(max-content, 1fr)) 2rem;
    justify-content: center;
  }
  @media only screen and (max-width: 25em) {
    grid-template-columns: 1fr;
    justify-content: center;
  }
  &__item {
    display: grid;
    grid-template-rows: 5rem max-content;

    &:first-of-type {
      @media only screen and (max-width: 37.5em) {
        grid-column: 2 / 3;
      }
    }
    &:nth-of-type(3) {
      @media only screen and (max-width: 37.5em) {
        grid-column: 2 / 3;
      }
    }
    &:nth-of-type(1),
    &:nth-of-type(2),
    &:nth-of-type(3),
    &:nth-of-type(4) {
      @media only screen and (max-width: 25em) {
        grid-column: 1 / 4;
        width: 100%;
        justify-items: center;
        text-align: center;
      }
    }
    h2 {
      font-size: 2rem;
      font-family: "Oxygen", sans-serif;
      @media only screen and (max-width: 25em) {
        font-size: 2.5rem;
      }
    }
    a {
      color: var(--text-color-grey);
      &:hover {
        color: white;
      }
    }
    ul {
      list-style: none;
      padding: 0;
      display: grid;
      grid-row-gap: 1.5rem;
      li {
        font-size: 2rem;
        font-family: "Ubuntu", sans-serif;
        @media only screen and (max-width: 25em) {
          font-size: 2.5rem;
        }
      }
    }
  }
  &__download {
    grid-column: 1 / span 3;
    align-self: center;
    justify-self: start;
    display: grid;
    grid-template-columns: max-content minmax(max-content, 15rem) repeat(
        2,
        min-content
      );
    grid-column-gap: 1.5rem;
    @media only screen and (max-width: 21.88em) {
      grid-template-columns: 1fr;
      grid-row-gap: 2rem;
    }
  }
}
