.home {
  display: grid;
  grid-template-rows: 6rem 85vh repeat(4, minmax(10rem, 1fr));
  grid-template-columns:
    [full-start] minmax(2rem, 1fr) [center-start] repeat(
      8,
      [col-start] minmax(min-content, 14rem) [col-end]
    )
    [center-end] minmax(2rem, 1fr) [full-end];
  &__header {
    grid-column: full-start / full-end;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: max-content;
    align-items: center;
    align-content: center;
    padding-left: 4rem;
    &--img {
      grid-column: 2 / 3;
      height: 75vh;
      justify-self: center;
    }

    &--info {
      grid-column: 1 / 2;
      grid-row: 1 / 2;

      display: grid;
      grid-template-columns: max-content 1fr;
      align-items: center;
      grid-column-gap: 1.5rem;
      grid-row-gap: 2rem;
    }
    &--heading {
      font-size: 6rem;
      font-family: "Oxygen", sans-serif;
      grid-column: 1 / -1;
    }
    &--tagline {
      font-size: 2rem;
      font-weight: 200;
      font-family: "Lato", sans-serif;
      color: var(--light-grey);
      grid-column: 1 / -1;
    }
    &--button {
      button {
        border-radius: 3px;
        font-size: 1.5rem;
        padding: 1.5rem 5rem;
        border: 2px solid var(--light-green);
        &:hover {
          background: white;
          color: var(--light-green);
          border: 2px solid var(--light-green);
        }
      }
    }
    &--link {
      font-size: 1.7rem;
      color: var(--light-grey);
      font-family: "Lato", sans-serif;
      cursor: pointer;
      &::after {
        content: "";
        display: block;
        width: 0rem;
        height: 0.5rem;
        background: var(--light-green);
        justify-self: start;
        transform: translateY(0.5rem);
        transition: all 0.3s ease-in-out;
      }
      &:hover::after {
        width: 12.5rem;
      }
    }
  }
  &__features {
    grid-column: center-start / center-end;

    display: grid;
    grid-template-columns: repeat(6, minmax(10rem, 1fr));
    grid-row-gap: 2.5rem;
    justify-items: center;
    align-items: center;
    margin: 15rem 0;

    &--text {
      justify-self: stretch;
      grid-column: 1 / -1;
      font-family: "Lato", sans-serif;
      font-size: 1.5rem;
      color: var(--light-grey);

      display: grid;
      grid-template-columns: 1fr max-content 1fr;
      grid-template-rows: max-content;
      align-items: center;
      justify-items: center;

      &::before,
      &::after {
        content: "";
        width: 50%;
        height: 0.2rem;
        background: var(--light-green);
      }
      &::before {
        transform: translateX(30%);
      }
      &::after {
        transform: translateX(-30%);
      }
    }
    img {
      height: 3.5rem;
    }
    .wired {
      grid-column: 2 /3;
    }
    .bi {
      grid-column: 3 / 5;
    }
    .tech {
      grid-column: 5 / 6;
      height: 3rem;
    }
  }
  &__description {
    background: lightblue;
    grid-column: center-start / center-end;
  }
  &__services {
    background: lightgreen;
    grid-column: full-start / full-end;
  }
}
