.home {
  display: grid;
  grid-template-rows: 6rem 85vh repeat(4, minmax(10rem, 1fr));
  grid-template-columns:
    [full-start] minmax(2rem, 1fr) [center-start] repeat(
      8,
      [col-start] minmax(min-content, 14rem) [col-end]
    )
    [center-end] minmax(2rem, 1fr) [full-end];
  &__header {
    grid-column: full-start / full-end;
    background: pink;
  }
  &__promotion {
    grid-column: full-start / full-end;
    background: lightgrey;
  }
  &__description {
    background: lightblue;
    grid-column: center-start / center-end;
  }
  &__services {
    background: lightgreen;
    grid-column: full-start / full-end;
  }
}
