.navigation {
  grid-column: center-start / center-end;
  grid-row: 1 / 2;
  color: var(--light-grey);
  font-family: "Ubuntu", sans-serif;

  display: grid;
  grid-template-columns:
    minmax(15rem, 0.2fr) minmax(max-content, 1fr)
    repeat(3, minmax(max-content, 7rem));
  grid-column-gap: 1.5rem;
  grid-auto-rows: minmax(6rem, 1fr);
  position: relative;
  #myLinks {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    display: none;
    @media only screen and (max-width: 37.5em) {
      display: none;
      flex-direction: column;
    }
  }
  @media only screen and (max-width: 61.88em) {
    padding-left: 2rem;
    grid-column: full-start / full-end;
  }

  @media only screen and (max-width: 37.5em) {
    padding-left: 0;
  }

  &__logo {
    grid-column: 1 / 2;
    font-size: 3rem;
    color: var(--light-grey);
    transform: translateY(0.9rem);
    @media only screen and (max-width: 37.5em) {
      grid-column: 1 / -1;
      grid-row: 1 / 2;
      align-self: center;
      padding-left: 1.3rem;
    }
  }
  &__items {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    padding: 0 1.5rem;
    cursor: pointer;
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    color: var(--light-grey);
    &:hover {
      color: black;
    }
    @media only screen and (max-width: 75em) {
      font-size: 1.5rem;
    }
    @media only screen and (max-width: 37.5em) {
      background: var(--light-green);
      color: white;
      height: 100%;
      padding: 3rem 1.5rem;
      font-size: 2rem;
      &:hover {
        color: white;
      }
    }
  }
  &__categories {
    grid-column: 2 /3;
    justify-self: start;
  }
  &__sign-up {
    grid-column: 4 /5;
    justify-self: center;
    &:hover {
      border-top: 2px solid var(--light-green);
    }
    @media only screen and (max-width: 37.5em) {
      &:hover {
        border-top: none;
      }
    }
  }
  &__login {
    grid-column: 5 / 6;
    justify-self: center;
    &:hover {
      border-top: 2px solid var(--light-green);
    }
    @media only screen and (max-width: 37.5em) {
      &:hover {
        border-top: none;
      }
    }
  }
  &__button {
    grid-column: 6 / 7;
    justify-self: center;
    button {
      @media only screen and (max-width: 37.5em) {
        width: 100%;
      }
    }
  }
  &__mobileicon {
    grid-column: 5 / -1;
    grid-row: 1 / 2;
    align-self: center;
    justify-self: center;
    i {
      font-size: 3rem;
      cursor: pointer;
    }
    @media only screen and (min-width: 37.56em) {
      display: none;
    }
  }
  .default {
    @media only screen and (max-width: 37.5em) {
      display: none;
    }
  }
}
