.profile {
  display: grid;
  grid-template-rows: 6rem repeat(2, max-content);
  grid-template-columns:
    [full-start] minmax(2rem, 1fr) [center-start] repeat(
      8,
      [col-start] minmax(min-content, 14rem) [col-end]
    )
    [center-end] minmax(2rem, 1fr) [full-end];
  grid-row-gap: 2rem;

  .container {
    grid-column: col-start 2 / col-end 7;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 10rem;
    & > *:not(:last-child) {
      margin-bottom: 2rem;
    }
  }

  &__headline {
    grid-column: 1 / -1;
    font-size: 2.5rem;
    font-family: "Oxygen", sans-serif;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: minmax(max-content, 20rem) 1fr;
    border: 1px solid var(--light-grey-2);
    grid-row-gap: 2rem;

    &--nav {
      ul {
        list-style: none;
        padding: 0;
        border-right: 1px solid var(--light-grey-2);
        height: 100%;
        li {
          font-family: "Oxygen", sans-serif;
          font-size: 1.5rem;
          position: relative;
          border-left: 3px solid transparent;
          a,
          a:link,
          a:visited,
          a:active {
            line-height: 5.5rem;
            margin: 0 1rem;
            color: #545e69;
            width: 100%;
            height: 100%;
          }
          &:hover {
            border-left: 3px solid var(--light-green);
          }
        }
      }
    }

    &--component {
      padding: 2rem 1.5rem;
      &__profile {
        display: flex;
        flex-direction: column;
        & > *:not(:last-child) {
          margin-bottom: 1.5rem;
        }
        &--headline {
          display: flex;
          justify-content: space-between;
          border-bottom: 1px solid #545e69;
          align-items: center;
          padding-bottom: 1.5rem;
          font-family: "Oxygen", sans-serif;
          font-size: 2rem;
          font-weight: 100;
          .button {
            button {
              padding-left: 2rem;
              padding-right: 2rem;
              border-radius: 5px;
              background: transparent;
              color: var(--light-green);
              border: 2px solid var(--light-green);
              &:hover {
                background: var(--light-green);
                color: white;
              }
            }
          }
        }
        &--details {
          display: grid;
          grid-template-columns: max-content 1fr;
          align-items: start;
          grid-column-gap: 4rem;
          padding: 2rem 3rem;

          img {
            height: 12.5rem;
            width: 12.5rem;
            background: var(--light-grey-2);
            border-radius: 100%;
          }
          ul {
            display: flex;
            flex-direction: column;
            list-style: none;
            padding: 0;
            & > * {
              margin-bottom: 1.5rem;
            }
            li {
              display: grid;
              grid-template-columns: repeat(2, minmax(max-content, 2rem));
              align-items: center;
              grid-column-gap: 1rem;
              i {
                font-size: 1.5rem;
                color: var(--light-green);
              }
              h2 {
                font-size: 2rem;
                color: #545e69;
                font-family: "Lato", sans-serif;
              }
              .button {
                button {
                  padding-left: 2rem;
                  padding-right: 2rem;
                  border-radius: 5px;
                  background: transparent;
                  color: var(--light-green);
                  border: 2px solid var(--light-green);
                  &:hover {
                    background: var(--light-green);
                    color: white;
                  }
                }
              }
            }
          }
        }
      }
      &__password {
        display: flex;
        flex-direction: column;
        & > *:not(:last-child) {
          margin-bottom: 1.5rem;
        }
        &--headline {
          display: flex;
          justify-content: space-between;
          border-bottom: 1px solid #545e69;
          align-items: center;
          padding-bottom: 1.5rem;
          font-family: "Oxygen", sans-serif;
          font-size: 2rem;
          font-weight: 100;
          .button {
            button {
              padding-left: 2rem;
              padding-right: 2rem;
              border-radius: 5px;
              background: transparent;
              color: var(--light-green);
              border: 2px solid var(--light-green);
              &:hover {
                background: var(--light-green);
                color: white;
              }
            }
          }
        }
        &--form {
          display: flex;
          flex-direction: column;
          & > * {
            margin-bottom: 2rem;
          }
          label {
            display: flex;
            flex-direction: column;
            & > *:not(:last-child) {
              margin-bottom: 0.5rem;
            }
            p {
              font-size: 1.5rem;
              font-family: "Ubuntu", sans-serif;
            }
            input {
              width: 50%;
              padding: 0.9rem 0.5rem;
              border-radius: 5px;
              border: 1px solid var(--light-grey);
              &:focus {
                outline: none;
                border: 1px solid var(--light-green);
              }
            }
          }
          .buttons {
            display: flex;
            .button {
              button {
                padding-left: 2rem;
                padding-right: 2rem;
                border-radius: 5px;
                background: transparent;
                color: var(--light-green);
                border: 2px solid var(--light-green);
                &:hover {
                  background: var(--light-green);
                  color: white;
                }
              }
            }
            .save {
              margin-left: 2.5rem;
              button {
                background: var(--light-green);
                color: white;
              }
            }
          }
        }
      }
    }
  }
}
